<!DOCTYPE html>
<html>
<body>
<p><b>音樂</b></p>
<p><strong>個人喜歡的歌曲有:</strong></p>
<p><small>周興哲的怎麼了，你好不好；告五人的好不容易，愛人錯過等作者的歌曲</small></p>
<p><i>個別連結:<br> https://www.youtube.com/watch?v=Y2ge3KrdeWs (怎麼了)
    <br>https://www.youtube.com/watch?v=wSBXfzgqHtE (你好不好)
    <br>https://www.youtube.com/watch?v=caxiOmSWWEM (好不容易)
    <br>https://www.youtube.com/watch?v=6D79CYTxvOM (愛人錯過)
</i></p>
<p><mark>最喜歡的歌曲:愛人錯過</mark></p>
</body>
</html> 
